{% extends 'base.html.twig' %}

{% block title %}Edit Departament{% endblock %}

{% block body %}
    <h1>Edit Departament</h1>

    {{ include('departament/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_departament_index') }}">back to list</a>

    {{ include('departament/_delete_form.html.twig') }}
{% endblock %}
