{% extends 'base.html.twig' %}

{% block title %}New Departament{% endblock %}

{% block body %}
    <h1>Create new Departament</h1>

    {{ include('departament/_form.html.twig') }}

    <a href="{{ path('app_departament_index') }}">back to list</a>
{% endblock %}
