{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/components/total-balance.css') }}">
{% endblock %}

<div class='total-balance'>
    <div class="summarize">
        <span>
            Seu saldo total de horas:
        </span>
        <span>
            09:00
        </span>
    </div>
</div>