
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/components/schedule-weekly.css') }}">
{% endblock %}


<div class="schedule-weekly">
    <h1 class="title-weekly">Resumo da Semana</h1>
    <div class="week-container">
        <div class="day-block">
            <div class="day-header">Domingo</div>
            <ul class="schedule-list">
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                
                <li class="total">T: 10:00</li>
            </ul>
        </div>
        <div class="day-block">
            <div class="day-header">Segunda</div>
            <ul class="schedule-list">
                <li>E: 09:00</li>
                <li>S: 10:00</li>
                <li>E: 09:00</li>
                <li>S: 10:00</li>
                
                <li class="total">T: 10:00</li>
            </ul>
        </div>
    
    
        <div class="day-block">
            <div class="day-header">Terça</div>
            <ul class="schedule-list">
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                  
                <li class="total">T: 10:00</li>
            </ul>
        </div>


        <div class="day-block">
            <div class="day-header">Quarta</div>
            <ul class="schedule-list">
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                  
                <li>T: 10:00</li>
            </ul>
        </div>


        <div class="day-block">
            <div class="day-header">Quinta</div>
            <ul class="schedule-list">
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                  
                <li>T: 10:00</li>
            </ul>
        </div>


        <div class="day-block">
            <div class="day-header">Sexta</div>
            <ul class="schedule-list">
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                  
                <li>T: 10:00</li>
            </ul>
        </div>
        <div class="day-block">
            <div class="day-header">Sábado</div>
            <ul class="schedule-list">
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                <li>E: 11:00</li>
                <li>S: 12:00</li>
                  
                <li>T: 10:00</li>
            </ul>
        </div>
        <!-- Outros dias -->
    </div>
</div>
